* {
    box-sizing: border-box;
}

html body {
   
   height: 100%;
}



body {
    font-family: sans-serif;
    background-color: #B1740F;
    text-align: center;
}

/* Main */

.main {
    display: flex;
    max-width: 1280px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto; /*lo centro*/
    background-color: #B1740F;
    /* box-shadow: 1px 1px 2px black; */
    min-height: 50vh;
    padding: 1rem;
}

.header {
    display: flex;
    width: 100%;
    background-color: #FDB833;
    background-image: url('');
    background-size: cover; /*lo posiciono*/
    background-position: center;
    margin: auto;
    justify-content: center;
    padding: 5rem;

}

.form {
    width: 100%;
    display: flex;
    gap: .5rem; /*Separar, search de button*/
    
    
}


.search {
    padding: .5rem;
    flex-grow: 1;
    font-size: 1rem;

}

.songs {
    padding: 0;
    list-style: none;
}

.song {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 1rem;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.contentUl {
    display: flex;
    background-color:#FFD07B;
    padding: 1rem 3rem;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40vh;

}

#show {
    background-color: goldenrod;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.liSongs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    background-color: #B1740F;
     padding: 10px;
}

span{
    display: flex;
    padding: 1rem;
    width: 400px;

}

@media (max-width: 920px) {
    
    .liSongs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4px;
        background-color: #B1740F;
        padding: 2px;
        
    }
    
    span{
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    
    }
        
}